.container-fluid {
    background-color: black;

    div {
        .textoPiePaginas {
            font-style: italic;
            text-align: justify;
            padding-left: 3rem;
            padding-right: 3rem;

            p {
                color: white;
                font-size: 14px;
                margin-top: 15px;
            }
        }

        .infoAdicional {
            margin-top: 25px;
        }

        .enlacesRedes {
            a {
                font-size: 30px;
            }
        }

        .enlacesRedes2 {
            margin-top: 25px;

            a {
                color: white;
                text-decoration: none;
            }

            .enlaceRedes3 {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
            }
        }
    }
}