* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-style: italic;
    font-size: 50px;
    color: black;
    font-family: $Tipografia_h1;

}

h2 {
    @extend h1;
    font-family: $Tipografia_h2;
}

h3 {
    font-size: 20px;
    font-family: $Tipografia_h3;
    color: white;
}

@media (max-width: 656px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
    }

    .Conocenos {
        font-size: 25px;
    }

}


.logoLicen,
.logoLicen2 {
    @media (max-width: 656px) {
        height: 70px;
    }

    @media (min-width: 657px) {
        height: 110px;
    }
}


.textoDescriptivo {
    text-align: center;
    padding: 2rem;

    p {
        margin-top: 10px;
        color: dimgray;
        font-size: 17px;
    }
}

.imagenes {
    width: 100%;
    border-radius: 30px;
    padding: 0.5rem;

    &:hover {
        transition: 1s;
        transform: scale(1.02, 1.02);
    }
}


.row {
    --bs-gutter-x: 0rem;
}


.logoLicen:hover {
    transform: scale(1.5, 1.5);
}