.cuerpoSobreNosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cuerpoSobreNosotros h1 {
    font-style: italic;
    color: black;
    text-align: center;
}

